@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Tablosu</h3>
</div>

<div class="table-responsive">
    <table class="table align-items-center table-flush">

        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Görsel</th>
                <th>Başlık</th>
                <th>Sil</th>
                <th>Düzenle</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {

                <tr>
                   
                    <td>@item.ServiceID</td>
                    <td> <img src="@item.ImageUrl" /> </td>
                    <td>@item.Title</td>
                    <td> <a href="/Service/DeleteService/ @item.ServiceID" class="btn btn-danger">Sil</a></td>

                    <td> <a href="/Service/EditService/ @item.ServiceID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <a href="/Service/AddService/" class="btn btn-warning">Yeni Hizmet Girişi</a>
</div>
