@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post))
{
    
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Yeni Proje Ekleme Paneli </p>
            <form class="forms-sample">
    <br />
    @Html.Label("Proje Adı")
    @Html.TextBoxFor(x => x.Name, new {@class = "form-control",placeholder = "Proje Adı Giriniz"})
    @Html.ValidationMessageFor(x => x.Name  ,"", new { @style="color:red" })
    <br />
    @Html.Label("Resim Url")
    @Html.TextBoxFor(x => x.ImageUrl, new {@class = "form-control",placeholder = "Resim Url  Giriniz"})
    @Html.ValidationMessageFor(x => x.ImageUrl  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Küçük Resim Url")
    @Html.TextBoxFor(x => x.SmallImageUrl2, new  { @class = "form-control" ,placeholder = "Küçük Resim Url Giriniz"})
    @Html.ValidationMessageFor(x => x.SmallImageUrl2  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Proje Url")
    @Html.TextBoxFor(x => x.ProjectUrl, new {@class = "form-control",placeholder = "Proje Url Giriniz"})
    @Html.ValidationMessageFor(x => x.ProjectUrl  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Fiyatı Giriniz")
    @Html.TextBoxFor(x => x.Price, new {@class = "form-control",placeholder = " Fiyatı Giriniz"})
    @Html.ValidationMessageFor(x => x.Price  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Proje Adı")
    @Html.TextBoxFor(x => x.Platform, new {@class = "form-control",placeholder = " Platform Giriniz"})
    @Html.ValidationMessageFor(x => x.Platform  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Ne kadar ilerlediniz")
    @Html.TextBoxFor(x => x.Value, new {@class = "form-control",placeholder = "Ne kadar ilerlediniz "})
    @Html.ValidationMessageFor(x => x.Value  ,"", new { @style="color:red" })

    <br />
    <button class="btn btn-success">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
}





