@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


    <div class="card-header border-0">
        <h3 class="mb-0">Proje Güncelleme Tablosu</h3>
    </div>
@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    @Html.HiddenFor(x => x.PortfolioID)
    <br />
    @Html.Label("Proje Adı")
    @Html.TextBoxFor(x => x.Name, new {@class = "form-control"})
    @Html.ValidationMessageFor(x => x.Name  ,"", new { @style="color:red" })
    <br />
    @Html.Label("Resim Url")
    @Html.TextBoxFor(x => x.ImageUrl, new {@class = "form-control"})
    @Html.ValidationMessageFor(x => x.ImageUrl  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Küçük Resim Url")
    @Html.TextBoxFor(x => x.SmallImageUrl2, new  { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SmallImageUrl2  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Proje Url")
    @Html.TextBoxFor(x => x.ProjectUrl, new {@class = "form-control"})
    @Html.ValidationMessageFor(x => x.ProjectUrl  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Fiyatı Giriniz")
    @Html.TextBoxFor(x => x.Price, new {@class = "form-control"})
    @Html.ValidationMessageFor(x => x.Price  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Proje Adı")
    @Html.TextBoxFor(x => x.Platform, new {@class = "form-control"})
    @Html.ValidationMessageFor(x => x.Platform  ,"", new { @style="color:red" })

    <br />
    @Html.Label("Ne kadar ilerlediniz")
    @Html.TextBoxFor(x => x.Value, new {@class = "form-control"})
    @Html.ValidationMessageFor(x => x.Value  ,"", new { @style="color:red" })
    <br />

     @Html.Label("Durum")                 
                <br />
    @Html.Label("Tamamlandı : ")
    @Html.RadioButtonFor(x => x.Status, "True")
    <br />
    @Html.Label("devam ediyor  : ")
    @Html.RadioButtonFor(x => x.Status, "False")
        

    <br />
    <button class="btn btn-success">Güncelle</button>

}






