@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Card header -->
<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Tablosu</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">

        <thead class="thead-light">
            <tr>
                <th style="font-size:1rem" scope="col" class="sort" data-sort="name">#</th>
                <th style="font-size:1rem" scope="col" class="sort" data-sort="budget">Başlık</th>
                <th style="font-size:1rem" scope="col" class="sort" data-sort="status">Tarih</th>
                <th style="font-size:1rem" scope="col">Sil</th>
                <th style="font-size:1rem" scope="col" class="sort" data-sort="completion">Düzenle</th>
                <th style="font-size:1rem" scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {

                <tr>
                    <th>
                        @item.ExperienceID
                    </th>

                    <th class="budget">
                        @item.Name
                    </th>

                    <th>
                        @item.Date
                    </th>

                    <td> <a href="/Experience/DeleteExperience/ @item.ExperienceID" class="btn btn-danger">Sil</a></td>

                    <td> <a href="/Experience/EditExperience/ @item.ExperienceID" class="btn btn-success">Güncelle</a></td>
                </tr>
            }

        </tbody>
    </table>
    <br />
    <a href="/Experience/AddExperience/" class="btn btn-warning">Yeni Deneyim Girişi</a>
</div>
<!-- Card footer -->

